body {
    background-color: #ffffff;
}

h1 {
    color: #000000;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
    color: #000000;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
button {
    color: #000000;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

@font-face {
            font-family: 'regular';
            src: url('fonts/comicsans.ttf') format('ttf'),
            url('fonts/comicsans.ttf') format('ttf');
            font-weight: normal;
            font-style: normal;
